* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background: rgba(255, 255, 224, 1);
  font-family: "Montserrat", sans-serif;
}
/* start style nav section */
header {
  display: flex;
  margin: auto;
  width: 90%;
  line-height: 80px;
  justify-content: space-evenly;
  background: black;
  border-radius: 5px;
}
.logo {
  text-align: center;
  width: 90%;
  color: white;
  display: flex;
}
.logo h2 {
  padding-left: 20px;
  font-weight: bold;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.logo h2:hover {
  cursor: pointer;
  text-decoration: underline 2px solid yellow;
}
.links {
  display: flex;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.links ul li {
  display: inline;
  justify-items: space-between;
  padding: 0 10px;
}
.links ul li a {
  color: white;
  font-family: "Lora", serif;
}
.links ul li a:hover {
  background-color: rgba(255, 255, 0, 0.8);
  padding: 15px;
  border-radius: 7px;
}
/* end style nav section */

/* start image slider */
#container {
  height: 100vh;
  width: 90%;
  border: 20px solid rgb(173, 101, 101, 0.2);
  margin: auto;
  overflow: hidden;
  box-shadow: -1px 5px 15px black;
  box-sizing: border-box;
}

/*Area of images*/
#wrapper {
  width: 100%;
  display: flex;
  animation: slide 22s infinite;
}

#wrapper img {
  width: 100%;
  height: 100vh;
}
/*Animation activated by keyframes*/
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  30% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  50% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  70% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  90% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(0);
  }
}

/* end of image slider */

/* start description section */
#description {
  display: flex;
  margin: auto;
  height: 800px;
  justify-content: space-between;
  width: 90%;
  border-radius: 5px;
  overflow: hidden;

}
article {
  width: 50%;
  background: rgba(0, 0, 0, 0.1);
}
article h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  color: lightcoral;
}
article p {
  
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  color: lightcoral;
}
figure {
  width: 50%;
  background: lightcoral;
}
figure img {
  width: 100%;
  height: 800px;
}
/* end description section */

/* start form section */
#form {
  box-shadow: -1px 5px 15px rgb(255, 208, 55);
  width: 80%;
  margin: auto;
  background: white;
  padding: 10px;
  border-radius: 7px;
}
legend {
  font-size: 40px;
  color: lightcoral;
  font-family: "Playfair Display", serif;
}
label {
  padding: 10px;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
}
input {
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 18px;
}
#submit {
  color: black;
  font-size: 20px;
  font-style: italic;
  background: lightcoral;
  margin-top: 10px;
  border-radius: 20px;
}
#submit:hover {
  color: black;
  background: lightgreen;
}
/* end form section */

/* start review section */
#reviews {
  background: rgba(0, 0, 0, 0.192);
  margin: auto;
  width: 90%;
  height: 50vh;
  display: flex;
  border-radius: 10px;
  box-shadow: -1px 5px 15px rgb(255, 196, 0);
  overflow-x: auto;
  justify-content: space-between;
  text-align: center;
}
#words {
  background: rgba(0, 0, 0, 0.26);
  margin: auto;
  color: yellow;
  font-weight: bold;
  width: 90%;
  flex-direction: column;
  border-radius: 10px;
  height: fit-content;
  text-align: center;
  position: relative;
  top: -90px;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  cursor: pointer;
}
#comments {
  width: 98%;
  margin: auto;
  text-align: center;
  font-size: 22px;
}
#comments > h2 {
  font-family: "Bitter", serif;
  font-family: "Open Sans", sans-serif;
  text-decoration: underline 2px green;
}

#commentsform {
  box-shadow: -1px 5px 15px rgb(255, 208, 55);
  width: 80%;
  margin: auto;
  background: lightcoral;
  padding: 10px;
  border-radius: 7px;
}
#postcomment {
  background-color: lightsalmon;
  border-radius: 10px;
}
#commentbox{
  width: 100%;
}
#postcomment:hover {
  background-color: lightgreen;
}
